# Data Preparation

### Load outliers

In [1]:
import pandas as pd
import numpy as np

# Manually collected list of outlying countries
outliers_data = pd.read_csv('./data/outliers.csv', dtype={
  'country': 'string',
  'independent': 'object',
  'dependent': 'object',
  'syllabi_count': 'Int64',
  'reasoning': 'string',
  'outlying_start_year': 'Int64',
  'outlying_end_year': 'Int64',
  'supporting_papers': 'string',
  'supporting_syllabi': 'string'
}).dropna().reset_index(drop=True)

# Convert variable names to lists
outliers_data['dependent'] = outliers_data['dependent'].map(lambda val: val.split('; '))
outliers_data['independent'] = outliers_data['independent'].map(lambda val: val.split('; '))
outliers_data['id'] = None

for i, outlier_case in outliers_data.iterrows():
  outliers_data.loc[i, 'id'] = f"{outlier_case['country_code']} {outlier_case['outlying_start_year']} - {outlier_case['outlying_end_year']}"

display(outliers_data)

,country,country_code,independent,dependent,syllabi_count,reasoning,outlying_start_year,outlying_end_year,supporting_papers,supporting_syllabi,id
0,China,CHN,[democracy],[fdi_pc],7,Democratic countries attract more foreign inve...,1992,1995,Choi 2009,"Harvard, Yale (comparative politics reading li...",CHN 1992 - 1995
1,Tunisia,TUN,[is_mena],[democracy],7,MENA countries have typically struggled with m...,2011,2020,Bellin 2013,"Yale (comparative politics reading list), UC S...",TUN 2011 - 2020
2,Costa Rica,CRI,[is_latam],"[log_gdp_pc, fdi_pc]",6,The economies of LATAM countries had been stru...,1949,2015,Sada 2015,"Harvard, Yale (comparative politics reading li...",CRI 1949 - 2015
3,Botswana,BWA,"[cpi, natural_resources]",[gdp_growth],6,The resource curse suggests that developing co...,1990,2006,Iimi 2007,"Yale (comparative politics reading list), UNC ...",BWA 1990 - 2006
4,United States of America,USA,[healthcare_spending_pc],[disability_adjusted_life_years],6,Higher healthcare spending should lead to bett...,2004,2004,"Mor 2022, Karabel and Laurison 2011","Harvard, UC San Diego, UCLA, Ohio State, Upenn...",USA 2004 - 2004
5,United States of America,USA,[log_gdp_pc],"[union_strength, left_representation]",6,Countries with high GDP per capita develop bot...,2004,2011,"Mor 2022, Karabel and Laurison 2011","Harvard, UC San Diego, UCLA, Ohio State, Upenn...",USA 2004 - 2011
6,India,IND,"[female_literacy, is_mena]",[female_workforce_participation],4,Outside of ME/Africa (conservative/patriarchal...,2000,2015,Ghai 2018,"Yale (comparative politics reading list), UNC ...",IND 2000 - 2015
7,Brazil,BRA,[democracy],[military_spending_of_gdp],4,Democracies spend less on military than autocr...,1995,2006,Zaverucha 2009,"Harvard, MIT, UNC Chapel Hill, URochester",BRA 1995 - 2006
8,Mexico,MEX,[democracy],[human_rights],3,Higher democratic development should lead to l...,1948,2008,Brennan et al. 2022,"Harvard, MIT, UCLA",MEX 1948 - 2008
9,Hungary,HUN,[is_eu],[democracy],2,Nearly all EU countries are associated with hi...,2010,2023,"Bogaards 2018, Ágh 2016, Buzogány 2017","Stanford, Harvard",HUN 2010 - 2023
10,Vietnam,VNM,[gdp_pc],[education],2,Low-income countries are expected to have limi...,1949,2015,London 2021,"Yale (comparative politics reading list), UC S...",VNM 1949 - 2015
11,Singapore,SGP,[democracy],[gdp_growth],2,Autocratic countries are associated with lower...,1965,2005,"Yeo et al. 2022, Siddiqui 2010","Yale (comparative politics reading list), UC S...",SGP 1965 - 2005
12,Tanzania,TZA,[ethnic_fractionalization],[peace],1,African countries with high ethnic fractionali...,1992,2020,"Malipula 2014, Rwengabo 2016",Stanford,TZA 1992 - 2020
13,Colombia,COL,[healthcare_spending_pc],[disability_adjusted_life_years],1,Higher healthcare spending should lead to bett...,2000,2016,Mor 2022,NYU,COL 2000 - 2016
14,Norway,NOR,[natural_resources],[liberal_immigration_policy],1,Countries rich with natural resources will dev...,1970,2013,"Choi 2022, Rogerson 2006",Harvard,NOR 1970 - 2013
15,Portugal,PRT,[business_ownership_rate],[unemployment],1,More enterpreneurship should lead to lower une...,1984,2002,Baptista and Thurik 2007,URochester,PRT 1984 - 2002

### Create master country dataset
##### Identify necessary variables

In [2]:
temp = outliers_data.explode(column=['independent']).explode(column=['dependent'])
variable_names = pd.concat([temp['independent'], temp['dependent']]).unique().tolist()
variable_names

['democracy',
 'is_mena',
 'is_latam',
 'cpi',
 'natural_resources',
 'healthcare_spending_pc',
 'log_gdp_pc',
 'female_literacy',
 'is_eu',
 'gdp_pc',
 'ethnic_fractionalization',
 'business_ownership_rate',
 'fdi_pc',
 'gdp_growth',
 'disability_adjusted_life_years',
 'union_strength',
 'left_representation',
 'female_workforce_participation',
 'military_spending_of_gdp',
 'human_rights',
 'education',
 'peace',
 'liberal_immigration_policy',
 'unemployment']

#### Import merged dataset

In [3]:
# Delete all previous data transformations and load Master_Data_V2

country_data = pd.read_csv('./data/testing/Master_Data_V6.csv')
country_data['Year'] = country_data['Year'].apply(lambda string: int(string))
country_data = country_data.apply(pd.to_numeric, errors = 'ignore')
display(country_data)

,Country Name,Year,healthcare_spending_of_gdp,healthcare_spending_pc,fdi,natural_resources,gdp,gdp_growth,gdp_pc,gdp_ppp_pc,...,population,union_strength,peace,left_representation,education,log_gdp_pc,fdi_pc,migration_surplus,liberal_immigration_policy,cpi
0,Albania,1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2135479.0,-2.114,NaN,-3.8090,NaN,NaN,NaN,11102.0,0.005199,NaN
1,Albania,1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2187853.0,-2.114,NaN,NaN,NaN,NaN,NaN,10007.0,0.004574,NaN
2,Albania,1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2243126.0,-2.114,NaN,NaN,NaN,NaN,NaN,8796.0,0.003921,NaN
3,Albania,1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2296752.0,-2.114,NaN,NaN,NaN,NaN,NaN,7346.0,0.003198,NaN
4,Albania,1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2350124.0,-2.114,NaN,-3.8090,NaN,NaN,NaN,5834.0,0.002482,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5780,United States,2018,16.640944,10284.55469,2.150000e+11,0.595679,2.050000e+13,2.945385,62823.30944,62823.30944,...,326838199.0,0.237,4.0,0.5165,NaN,11.048081,657.817846,1200796.0,0.003674,NaN
5781,United States,2019,16.676474,10661.02832,3.160000e+11,0.557098,2.140000e+13,2.294439,65120.39466,65120.39466,...,328329953.0,0.237,NaN,NaN,NaN,11.083993,962.446457,1158444.0,0.003528,NaN
5782,United States,2020,18.815826,11702.40918,1.380000e+11,0.329506,2.110000e+13,-2.767803,63528.63430,63528.63430,...,331501080.0,0.237,NaN,NaN,NaN,11.059246,416.288236,675560.0,0.002038,NaN
5783,United States,2021,NaN,NaN,4.930000e+11,1.279944,2.330000e+13,5.945485,70219.47245,70219.47245,...,331893745.0,0.237,NaN,NaN,NaN,11.159381,1485.415159,561580.0,0.001692,NaN
5784,United States,2022,NaN,NaN,3.880000e+11,NaN,2.550000e+13,2.061593,76398.59174,76398.59174,...,NaN,0.237,NaN,NaN,NaN,11.243720,NaN,NaN,NaN,NaN

#### Create a mapping of column names

In [4]:
column_name_mapping = {
  # Currently no columns to map
}

country_data = country_data.rename(columns = column_name_mapping)

#### Internal use: report missing variables

In [5]:
missing = []
for var in variable_names:
  if var not in country_data.columns:
    missing.append(var)

superfluous = []
for var in country_data.columns:
  if var not in variable_names and var not in ['Country Name', 'Year', 'Country Code']:
    superfluous.append(var)

print("Missing variables in the master dataset:")
print(missing)

print("Superfluous variables in the master dataset:")
print(superfluous)

Missing variables in the master dataset:
[]
Superfluous variables in the master dataset:
['healthcare_spending_of_gdp', 'fdi', 'gdp', 'gdp_ppp_pc', 'gini', 'net_migration', 'population', 'migration_surplus']

# Comparison of Outlier Detection Algorithms

### Set up algorithms

In [6]:
# Begin by importing all methods from PyOD (table source: https://pyod.readthedocs.io/en/latest/ 11/5/2023)
methods_table = pd.read_csv('./data/pyod_methods.csv')
methods_table['is_pyod'] = True
methods_table['successful_installation'] = False # Will update once successfully imported
methods_table['constructor'] = None

pyod_blacklist = [
  'MAD', # Only for univariate data
  'LSCP', # Requires to specify parameter "Base unsupervised outlier detectors from PyOD"
  'ABOD', # RuntimeWarning: invalid value encountered in scalar divide ... RuntimeWarning: Degrees of freedom <= 0 for slice
  'FastABOD', # Same error
  'SOS', # RuntimeWarning: overflow encountered in multiply beta[i] = beta[i] * 2.0
  # 'LOCI', # Slow
  # 'KPCA', # Slow
  # 'R-Graph', # Slow
  # 'MO_GAAL', # Slow
  # 'AnoGAN', # Slow
  # 'ALAD', # Slow
  'XGBOD' # Supervised
]

# TODO: Add any other methods we want from lit review, with is_pyod = False,
# to denote that we need custom logic for them in the testing loop (can't call the pyod .fit() API)

# Import all methods programatically
for i, method in methods_table.iterrows():
  if (method['is_pyod'] and method['Abbr'] not in pyod_blacklist):
    method_name = method['Class'].split('.')[-1]
    module_name = method['Class'].replace(f'.{method_name}', '')
    try:
      module = __import__(module_name, globals(), locals(), [method_name])
      method_constructor = vars(module)[method_name]
      print(f'Imported {i} / {len(methods_table)}: {method_constructor}')
      methods_table.loc[i, 'successful_installation'] = True
      methods_table.loc[i, 'constructor'] = method_constructor
    except Exception as e:
      print(f"FAILED {i} / {len(methods_table)}: {method['Class']}. Message: {repr(e)}")

methods_table = methods_table[methods_table['successful_installation'] == True].reset_index(drop = True)
display(methods_table)
print(f"Imported {len(methods_table)} methods")

Imported 0 / 56: <class 'pyod.models.ecod.ECOD'>
Imported 1 / 56: <class 'pyod.models.copod.COPOD'>
Imported 6 / 56: <class 'pyod.models.qmcd.QMCD'>
Imported 7 / 56: <class 'pyod.models.kde.KDE'>
Imported 8 / 56: <class 'pyod.models.sampling.Sampling'>
Imported 9 / 56: <class 'pyod.models.gmm.GMM'>
Imported 10 / 56: <class 'pyod.models.pca.PCA'>
Imported 11 / 56: <class 'pyod.models.kpca.KPCA'>
Imported 12 / 56: <class 'pyod.models.mcd.MCD'>
Imported 13 / 56: <class 'pyod.models.cd.CD'>
Imported 14 / 56: <class 'pyod.models.ocsvm.OCSVM'>
Imported 15 / 56: <class 'pyod.models.lmdd.LMDD'>
Imported 16 / 56: <class 'pyod.models.lof.LOF'>
Imported 17 / 56: <class 'pyod.models.cof.COF'>
Imported 18 / 56: <class 'pyod.models.cof.COF'>
Imported 19 / 56: <class 'pyod.models.cblof.CBLOF'>
Imported 20 / 56: <class 'pyod.models.loci.LOCI'>
Imported 21 / 56: <class 'pyod.models.hbos.HBOS'>
Imported 22 / 56: <class 'pyod.models.knn.KNN'>
Imported 23 / 56: <class 'pyod.models.knn.KNN'>
Imported 24 / 56: <class 'pyod.models.knn.KNN'>
Imported 25 / 56: <class 'pyod.models.sod.SOD'>
Imported 26 / 56: <class 'pyod.models.rod.ROD'>
Imported 27 / 56: <class 'pyod.models.iforest.IForest'>
Imported 28 / 56: <class 'pyod.models.inne.INNE'>
Imported 29 / 56: <class 'pyod.models.dif.DIF'>
Imported 30 / 56: <class 'pyod.models.feature_bagging.FeatureBagging'>
Imported 33 / 56: <class 'pyod.models.loda.LODA'>
Imported 34 / 56: <class 'pyod.models.suod.SUOD'>
Imported 35 / 56: <class 'pyod.models.auto_encoder.AutoEncoder'>
Imported 36 / 56: <class 'pyod.models.vae.VAE'>
Imported 37 / 56: <class 'pyod.models.vae.VAE'>
Imported 38 / 56: <class 'pyod.models.so_gaal.SO_GAAL'>
Imported 39 / 56: <class 'pyod.models.mo_gaal.MO_GAAL'>
Imported 40 / 56: <class 'pyod.models.deep_svdd.DeepSVDD'>
Imported 41 / 56: <class 'pyod.models.anogan.AnoGAN'>
Imported 42 / 56: <class 'pyod.models.alad.ALAD'>
Imported 43 / 56: <class 'pyod.models.rgraph.RGraph'>
Imported 44 / 56: <class 'pyod.models.lunar.LUNAR'>
Imported 47 / 56: <class 'pyod.models.loda.LODA'>
Imported 48 / 56: <class 'pyod.models.suod.SUOD'>
FAILED 49 / 56: pyod.models.combination.average(). Message: KeyError('average()')
FAILED 50 / 56: pyod.models.combination.average(). Message: KeyError('average()')
FAILED 51 / 56: pyod.models.combination.maximization(). Message: KeyError('maximization()')
FAILED 52 / 56: pyod.models.combination.aom(). Message: KeyError('aom()')
FAILED 53 / 56: pyod.models.combination.moa(). Message: KeyError('moa()')
FAILED 54 / 56: pyod.models.combination.median(). Message: KeyError('median()')
FAILED 55 / 56: pyod.models.combination.majority_vote(). Message: KeyError('majority_vote()')

,Type,Abbr,Algorithm,Year,Class,is_pyod,successful_installation,constructor
0,Probabilistic,ECOD,Unsupervised Outlier Detection Using Empirical...,2022.0,pyod.models.ecod.ECOD,True,True,<class 'pyod.models.ecod.ECOD'>
1,Probabilistic,COPOD,COPOD: Copula-Based Outlier Detection,2020.0,pyod.models.copod.COPOD,True,True,<class 'pyod.models.copod.COPOD'>
2,Probabilistic,QMCD,Quasi-Monte Carlo Discrepancy outlier detection,2001.0,pyod.models.qmcd.QMCD,True,True,<class 'pyod.models.qmcd.QMCD'>
3,Probabilistic,KDE,Outlier Detection with Kernel Density Functions,2007.0,pyod.models.kde.KDE,True,True,<class 'pyod.models.kde.KDE'>
4,Probabilistic,Sampling,Rapid distance-based outlier detection via sam...,2013.0,pyod.models.sampling.Sampling,True,True,<class 'pyod.models.sampling.Sampling'>
5,Probabilistic,GMM,Probabilistic Mixture Modeling for Outlier Ana...,NaN,pyod.models.gmm.GMM,True,True,<class 'pyod.models.gmm.GMM'>
6,Linear Model,PCA,Principal Component Analysis (the sum of weigh...,2003.0,pyod.models.pca.PCA,True,True,<class 'pyod.models.pca.PCA'>
7,Linear Model,KPCA,Kernel Principal Component Analysis,2007.0,pyod.models.kpca.KPCA,True,True,<class 'pyod.models.kpca.KPCA'>
8,Linear Model,MCD,Minimum Covariance Determinant (use the mahala...,1999.0,pyod.models.mcd.MCD,True,True,<class 'pyod.models.mcd.MCD'>
9,Linear Model,CD,Use Cook’s distance for outlier detection,1977.0,pyod.models.cd.CD,True,True,<class 'pyod.models.cd.CD'>
10,Linear Model,OCSVM,One-Class Support Vector Machines,2001.0,pyod.models.ocsvm.OCSVM,True,True,<class 'pyod.models.ocsvm.OCSVM'>
11,Linear Model,LMDD,Deviation-based Outlier Detection (LMDD),1996.0,pyod.models.lmdd.LMDD,True,True,<class 'pyod.models.lmdd.LMDD'>
12,Proximity-Based,LOF,Local Outlier Factor,2000.0,pyod.models.lof.LOF,True,True,<class 'pyod.models.lof.LOF'>
13,Proximity-Based,COF,Connectivity-Based Outlier Factor,2002.0,pyod.models.cof.COF,True,True,<class 'pyod.models.cof.COF'>
14,Proximity-Based,Incr. COF,Memory Efficient Connectivity-Based Outlier Fa...,2002.0,pyod.models.cof.COF,True,True,<class 'pyod.models.cof.COF'>
15,Proximity-Based,CBLOF,Clustering-Based Local Outlier Factor,2003.0,pyod.models.cblof.CBLOF,True,True,<class 'pyod.models.cblof.CBLOF'>
16,Proximity-Based,LOCI,LOCI: Fast outlier detection using the local c...,2003.0,pyod.models.loci.LOCI,True,True,<class 'pyod.models.loci.LOCI'>
17,Proximity-Based,HBOS,Histogram-based Outlier Score,2012.0,pyod.models.hbos.HBOS,True,True,<class 'pyod.models.hbos.HBOS'>
18,Proximity-Based,kNN,k Nearest Neighbors (use the distance to the k...,2000.0,pyod.models.knn.KNN,True,True,<class 'pyod.models.knn.KNN'>
19,Proximity-Based,AvgKNN,Average kNN (use the average distance to k nea...,2002.0,pyod.models.knn.KNN,True,True,<class 'pyod.models.knn.KNN'>
20,Proximity-Based,MedKNN,Median kNN (use the median distance to k neare...,2002.0,pyod.models.knn.KNN,True,True,<class 'pyod.models.knn.KNN'>
21,Proximity-Based,SOD,Subspace Outlier Detection,2009.0,pyod.models.sod.SOD,True,True,<class 'pyod.models.sod.SOD'>
22,Proximity-Based,ROD,Rotation-based Outlier Detection,2020.0,pyod.models.rod.ROD,True,True,<class 'pyod.models.rod.ROD'>
23,Outlier Ensembles,IForest,Isolation Forest,2008.0,pyod.models.iforest.IForest,True,True,<class 'pyod.models.iforest.IForest'>
24,Outlier Ensembles,INNE,Isolation-based Anomaly Detection Using Neares...,2018.0,pyod.models.inne.INNE,True,True,<class 'pyod.models.inne.INNE'>
25,Outlier Ensembles,DIF,Deep Isolation Forest for Anomaly Detection,2023.0,pyod.models.dif.DIF,True,True,<class 'pyod.models.dif.DIF'>
26,Outlier Ensembles,FB,Feature Bagging,2005.0,pyod.models.feature_bagging.FeatureBagging,True,True,<class 'pyod.models.feature_bagging.FeatureBag...
27,Outlier Ensembles,LODA,Lightweight On-line Detector of Anomalies,2016.0,pyod.models.loda.LODA,True,True,<class 'pyod.models.loda.LODA'>
28,Outlier Ensembles,SUOD,SUOD: Accelerating Large-scale Unsupervised He...,2021.0,pyod.models.suod.SUOD,True,True,<class 'pyod.models.suod.SUOD'>
29,Neural Networks,AutoEncoder,Fully connected AutoEncoder (use reconstructio...,2015.0,pyod.models.auto_encoder.AutoEncoder,True,True,<class 'pyod.models.auto_encoder.AutoEncoder'>
30,Neural Networks,VAE,Variational AutoEncoder (use reconstruction er...,2013.0,pyod.models.vae.VAE,True,True,<class 'pyod.models.vae.VAE'>
31,Neural Networks,Beta-VAE,Variational AutoEncoder (all customized loss t...,2018.0,pyod.models.vae.VAE,True,True,<class 'pyod.models.vae.VAE'>
32,Neural Networks,SO_GAAL,Single-Objective Generative Adversarial Active...,2019.0,pyod.models.so_gaal.SO_GAAL,True,True,<class 'pyod.models.so_gaal.SO_GAAL'>
33,Neural Networks,MO_GAAL,Multiple-Objective Generative Adversarial Acti...,2019.0,pyod.models.mo_gaal.MO_GAAL,True,True,<class 'pyod.models.mo_gaal.MO_GAAL'>
34,Neural Networks,DeepSVDD,Deep One-Class Classification,2018.0,pyod.models.deep_svdd.DeepSVDD,True,True,<class 'pyod.models.deep_svdd.DeepSVDD'>
35,Neural Networks,AnoGAN,Anomaly Detection with Generative Adversarial ...,2017.0,pyod.models.anogan.AnoGAN,True,True,<class 'pyod.models.anogan.AnoGAN'>
36,Neural Networks,ALAD,Adversarially learned anomaly detection,2018.0,pyod.models.alad.ALAD,True,True,<class 'pyod.models.alad.ALAD'>
37,Graph-based,R-Graph,Outlier detection by R-graph,2017.0,pyod.models.rgraph.RGraph,True,True,<class 'pyod.models.rgraph.RGraph'>
38,Graph-based,LUNAR,LUNAR: Unifying Local Outlier Detection Method...,2022.0,pyod.models.lunar.LUNAR,True,True,<class 'pyod.models.lunar.LUNAR'>
39,Outlier Ensembles,LODA,Lightweight On-line Detector of Anomalies,2016.0,pyod.models.loda.LODA,True,True,<class 'pyod.models.loda.LODA'>
40,Outlier Ensembles,SUOD,SUOD: Accelerating Large-scale Unsupervised He...,2021.0,pyod.models.suod.SUOD,True,True,<class 'pyod.models.suod.SUOD'>

Imported 41 methods

#### Define normalizations

In [7]:
from sklearn.preprocessing import minmax_scale
from sklearn.preprocessing import robust_scale
from sklearn.preprocessing import scale
from sklearn.preprocessing import normalize

normalizations = {
  'none': lambda x: x,
  'minmax_scale': minmax_scale,
  'robust_scale': robust_scale,
  'scale': scale,
  'normalize': normalize
}

##### Generate variations of OD methods with different normalization methods

In [8]:
methods_table['id'] = None
methods_table['normalization_func'] = None

methods_table_with_normalizations = pd.DataFrame(columns = methods_table.columns)

for i, method in methods_table.iterrows():
  for normalization_name in normalizations:
    method['id'] = f"{method['Abbr']}_{normalization_name}" if normalization_name != 'none' else method['Abbr']
    method['normalization_func'] = normalizations[normalization_name]
    methods_table_with_normalizations.loc[len(methods_table_with_normalizations)] = method

methods_table = methods_table_with_normalizations

### Run tests

For each outlier case in `outliers_data`:

1. Run each algorithm on `country_data`, using only the columns identified in `outliers_data['independent']` versus `outliers_data['dependent']`. Use only the subset of the rows with the correct time range.
2. Record whether the given algorithm correctly identified the case study country as an outlier, and whether any other countries were detected as outliers.
3. Report a matrix, where the rows are algorithms, and the columns are success/failure (or some non-binary measure?) on the given outlier case.

We are reporting results with the levels of observation:

- a) outlier-method (each experiment being one row)
- b) method (columns = case studies tested with the method; average performance of the method on all case studies)
- c) case study (columns = methods ran on the case study; average performance of all methods on case study)

##### Helper functions

In [9]:
from sklearn import metrics
import traceback
from func_timeout import func_timeout, FunctionTimedOut

def print_summary(outlier_i, outlier_case):
  print("\n------\n")
  print(f"RUNNING OUTLIER CASE STUDY {outlier_i + 1}")
  print(f"Identified by: {outlier_case['supporting_papers']}")
  print(f"Outlying country: {outlier_case['country']}, {outlier_case['outlying_start_year']} - {outlier_case['outlying_end_year']}")
  print(f"In terms of: {outlier_case['dependent']}")
  print(f"With respect to: {outlier_case['independent']}")

def df_to_string(df):
  return "; ".join(list(map(lambda x: x.strip(), df.to_string(header = False, index = False, index_names = False).split('\n'))))

# Helper for geographic dummies
def subsetting_variable_present(variables):
  candidates = ['is_eu', 'is_mena', 'is_latam']

  for candidate in candidates:
    if candidate in variables:
      return candidate
    
  return None

def init_model(method):
  model = None
  try:
    model = method['constructor'](verbose = False, random_state = 2023)
  except:
    try:
      model = method['constructor'](verbose = 0, random_state = 2023)
    except:
      try:
        model = method['constructor'](verbose = False)
      except:
        try:
          model = method['constructor'](verbose = 0)
        except:
          model = method['constructor']()
  return model

def correct_nans_and_drop_country_code(X):
  # For each variable: use median of country, if all values empty then use median of dataset

  for country_code in X['Country Code'].unique():
    country_subset_mask = X['Country Code'] == country_code

    for column in X.columns:
      if column != 'Country Code':
        if (len(X[country_subset_mask][column].dropna()) > 0):
          country_subset_column_median = X.loc[country_subset_mask, column].drop(columns = ['Country Code']).median()
          X.loc[country_subset_mask, column] = X.loc[country_subset_mask, column].fillna(country_subset_column_median)
  
  X = X.drop(columns = ['Country Code'])

  return X.fillna(X.median())

##### Main testing loop

In [10]:
from across import across_od

timeout = 120
country_whitelist = [] # Empty = run all countries except those on the blacklist
country_blacklist = ['Vietnam', 'Portugal'] # Missing reliable PISA scores and business ownership rates
print_debug_dfs = True
should_drop_and_subset_on_regional_vars = True
test_ensemble_only = True # Test ACROSS

experiment_level_test_results = pd.DataFrame()
method_result_dictionary = {}
case_study_result_dictionary = {}

# Keep track of methods / outliers that have timed out or error'd on any one test to exclude them in the end
faulty_method_ids = []
faulty_case_study_ids = []

for outlier_i, outlier_case in outliers_data.iterrows():
  outlier_identifier = outlier_case['id']

  if (
    (outlier_case['country'] not in country_whitelist and len(country_whitelist) > 0) or
    (outlier_case['country'] in country_blacklist)
  ):
    faulty_case_study_ids.append(outlier_identifier)
    continue

  print_summary(outlier_i, outlier_case)

  try:
    relevant_variables = ['Country Code', 'Year'] + outlier_case['dependent'] + outlier_case['independent']
    start_year, end_year = outlier_case['outlying_start_year'], outlier_case['outlying_end_year']

    # Verify that all necessarily variables are found in the master dataframe
    missing_vars = []
    all_na_vars = []
    for var_name in relevant_variables:
      target_country_subset = country_data[country_data['Country Code'] == outlier_case['country_code']]
      target_country_subset = target_country_subset.query(f'{start_year} <= Year <= {end_year}')
      
      if var_name not in country_data.columns:
        missing_vars.append(var_name)
      elif len(target_country_subset[var_name].dropna()) == 0:
        all_na_vars.append(var_name)
    if (len(missing_vars) > 0) or (len(all_na_vars) > 0):
      print("SKIPPING due to missing variables")
      print(f"Missing: {missing_vars}")
      print(f"All NaN: {all_na_vars}")
      faulty_case_study_ids.append(outlier_identifier)
      continue

    # Pick the relevant subset of data
    experimental_subset = country_data.loc[:, relevant_variables]
    experimental_subset = experimental_subset.query(f'{start_year} <= Year <= {end_year}')
    experimental_subset['is_empirical_outlier'] = experimental_subset['Country Code'] == outlier_case['country_code']

    if should_drop_and_subset_on_regional_vars:
      # E.g. instead of including LATAM as an OD variable, do 1D OD only on LATAM countries
      subsetting_variable = subsetting_variable_present(relevant_variables)
      if subsetting_variable and outlier_case['country'] != 'India': # For India, MENA is a control, not the main variable
          experimental_subset = experimental_subset[experimental_subset[subsetting_variable] == 1]
          experimental_subset.drop(columns = [subsetting_variable])

    num_empirical_outliers = len(experimental_subset[experimental_subset['is_empirical_outlier']])
    nan_row_count = experimental_subset.shape[0] - experimental_subset.dropna().shape[0]
    print(f"Sample size: {num_empirical_outliers} outliers, {len(experimental_subset)} total data points")
    print(f"{nan_row_count} / {len(experimental_subset)} rows with NaNs ({float(nan_row_count) / len(experimental_subset) * 100.0}%)")
    print()

    if (print_debug_dfs):
      print("Experimental subset:")
      display(experimental_subset)
      print("Target subset:")
      display(experimental_subset[experimental_subset['is_empirical_outlier']])
  except Exception as e:
    faulty_case_study_ids.append(outlier_identifier)
    print("ERROR IN PREPROCESSING")
    print(traceback.format_exc())
    continue

  # Define the relevant numerical variables and resolve NaNs
  test_run = experimental_subset.copy()
  X = test_run.drop(columns = ['Year', 'is_empirical_outlier'])
  X = correct_nans_and_drop_country_code(X)
  X = X.dropna()

  if test_ensemble_only:
    method_name = 'ACROSS'

    # Predict outliers based on X
    predictions, levels = across_od(X).values()
    test_run['is_predicted_outlier'] = predictions
    test_run['outlier_prediction_level'] = levels
  else:
    # Run test algorithms and see if they correctly identify the outlier
    for method_i, method in methods_table.iterrows():
      try:
        method_name = method['id']
        print(f"Test method {method_i + 1} / {len(methods_table)}: {method_name}")
        
        model = init_model(method)

        X = method['normalization_func'](X)

        # Predict outliers based on X
        model = func_timeout(timeout = timeout, func = model.fit, kwargs={ 'X': X })
        test_run['is_predicted_outlier'] = model.labels_
        test_run['outlier_prediction_level'] = model.decision_scores_
      except FunctionTimedOut:
        faulty_method_ids.append(method_name)
        print("TIMED OUT")
      except Exception as e:
        faulty_method_ids.append(method_name)
        print("ERROR")
        print(traceback.format_exc())
  
  try:
    # Check accuracy
    num_correct_classification_of_target_country = len(test_run.query(f"`is_predicted_outlier` == `is_empirical_outlier` and `Country Code` == \"{outlier_case['country_code']}\""))
    num_predicted_outliers = len(test_run.loc[test_run['is_predicted_outlier'] == 1])
    f1 = metrics.f1_score(test_run['is_empirical_outlier'], test_run['is_predicted_outlier'])

    success_on_target_country = float(num_correct_classification_of_target_country) / num_empirical_outliers

    # Report a)
    experiment_level_test_results = pd.concat([experiment_level_test_results, pd.DataFrame({
      'ID': outlier_identifier,
      'Country Code': outlier_case['country_code'],
      'Paper': outlier_case['supporting_papers'],
      'Dependent': '; '.join(outlier_case['dependent']),
      'Independent': '; '.join(outlier_case['independent']),
      'Year Range': f'{start_year} - {end_year}',
      'Algorithm': method_name,
      'Number of empirical outliers': num_empirical_outliers,
      'Target outliers identified': num_correct_classification_of_target_country,
      'Total outliers identified': num_predicted_outliers,
      'Success on target country': success_on_target_country,
      'F1': f1,
      'Identified outliers': df_to_string(test_run.loc[test_run['is_predicted_outlier'] == 1][['Country Code', 'Year']]),
      'Rows with NaNs': nan_row_count,
      'Sample size': len(experimental_subset)
    }, index = [0])], ignore_index = True)

    # Report b)
    if (method_name not in method_result_dictionary):
      method_result_dictionary[method_name] = {}
    method_result_dictionary[method_name][f'{outlier_identifier}: Accuracy on target (Recall)'] = success_on_target_country
    method_result_dictionary[method_name][f'{outlier_identifier}: Additional found'] = num_predicted_outliers
    method_result_dictionary[method_name][f'{outlier_identifier}: F1'] = f1

    # Report c)
    if (outlier_identifier not in case_study_result_dictionary):
      case_study_result_dictionary[outlier_identifier] = {}
    case_study_result_dictionary[outlier_identifier][f'{method_name}: Accuracy on target (Recall)'] = success_on_target_country
    case_study_result_dictionary[outlier_identifier][f'{method_name}: Additional found'] = num_predicted_outliers
    case_study_result_dictionary[outlier_identifier][f'{method_name}: F1'] = f1
  except Exception as e:
    print("ERROR")
    test_run['is_predicted_outlier'].to_csv('./bruh.csv')
    print(traceback.format_exc())
  


print("Done. Faulty methods:")
print(faulty_method_ids)

print("Faulty case studies:")
print(faulty_case_study_ids)

------

RUNNING OUTLIER CASE STUDY 1
Identified by: Choi 2009
Outlying country: China, 1992 - 1995
In terms of: ['fdi_pc']
With respect to: ['democracy']
Sample size: 4 outliers, 461 total data points
109 / 461 rows with NaNs (23.644251626898047%)

Experimental subset:

     Country Code  Year      fdi_pc  democracy  is_empirical_outlier
22            ALB  1992   -6.159458      0.334                 False
23            ALB  1993  -17.971752      0.319                 False
24            ALB  1994  -16.523587      0.336                 False
25            ALB  1995  -21.958828      0.345                 False
72            DZA  1992         NaN      0.085                 False
...           ...   ...         ...        ...                   ...
5697          ZWE  1995         NaN      0.228                 False
5754          USA  1992  118.161192      0.810                 False
5755          USA  1993  193.252513      0.811                 False
5756          USA  1994  212.597767      0.811                 False
5757          USA  1995  259.428116      0.813                 False

[461 rows x 5 columns]

Target subset:

     Country Code  Year     fdi_pc  democracy  is_empirical_outlier
1076          CHN  1992  -6.142647      0.057                  True
1077          CHN  1993 -19.614915      0.059                  True
1078          CHN  1994 -26.670638      0.060                  True
1079          CHN  1995 -28.094003      0.061                  True

CHECK
461
461

------

RUNNING OUTLIER CASE STUDY 2
Identified by: Bellin 2013
Outlying country: Tunisia, 2011 - 2020
In terms of: ['democracy']
With respect to: ['is_mena']
Sample size: 9 outliers, 81 total data points
0 / 81 rows with NaNs (0.0%)

Experimental subset:

     Country Code  Year  democracy  is_mena  is_empirical_outlier
91            DZA  2011      0.167        1                 False
92            DZA  2012      0.169        1                 False
93            DZA  2013      0.171        1                 False
94            DZA  2014      0.172        1                 False
95            DZA  2015      0.173        1                 False
...           ...   ...        ...      ...                   ...
5316          TUN  2015      0.628        1                  True
5317          TUN  2016      0.628        1                  True
5318          TUN  2017      0.646        1                  True
5319          TUN  2018      0.640        1                  True
5320          TUN  2019      0.633        1                  True

[81 rows x 5 columns]

Target subset:

     Country Code  Year  democracy  is_mena  is_empirical_outlier
5312          TUN  2011      0.248        1                  True
5313          TUN  2012      0.645        1                  True
5314          TUN  2013      0.641        1                  True
5315          TUN  2014      0.632        1                  True
5316          TUN  2015      0.628        1                  True
5317          TUN  2016      0.628        1                  True
5318          TUN  2017      0.646        1                  True
5319          TUN  2018      0.640        1                  True
5320          TUN  2019      0.633        1                  True

CHECK
81
81

------

RUNNING OUTLIER CASE STUDY 3
Identified by: Sada 2015
Outlying country: Costa Rica, 1949 - 2015
In terms of: ['log_gdp_pc', 'fdi_pc']
With respect to: ['is_latam']
Sample size: 47 outliers, 838 total data points
114 / 838 rows with NaNs (13.60381861575179%)

Experimental subset:

,Country Code,Year,log_gdp_pc,fdi_pc,is_latam,is_empirical_outlier
100,ARG,1970,7.188930,NaN,1,False
101,ARG,1971,7.225790,NaN,1,False
102,ARG,1972,7.252179,NaN,1,False
103,ARG,1973,7.649707,NaN,1,False
104,ARG,1974,7.953763,NaN,1,False
...,...,...,...,...,...,...
5513,URY,2011,9.614175,-745.311312,1,False
5514,URY,2012,9.685782,-662.991247,1,False
5515,URY,2013,9.805924,-898.421502,1,False
5516,URY,2014,9.805410,-660.876788,1,False
5517,URY,2015,9.738068,-227.050767,1,False

Target subset:

,Country Code,Year,log_gdp_pc,fdi_pc,is_latam,is_empirical_outlier
1154,CRI,1970,6.274209,NaN,1,True
1155,CRI,1971,6.337335,NaN,1,True
1156,CRI,1972,6.450786,NaN,1,True
1157,CRI,1973,6.636055,NaN,1,True
1158,CRI,1974,6.696659,NaN,1,True
1159,CRI,1975,6.833576,NaN,1,True
1160,CRI,1976,7.014847,NaN,1,True
1161,CRI,1977,7.230183,-28.336729,1,True
1162,CRI,1978,7.340232,-20.751083,1,True
1163,CRI,1979,7.448791,-18.225115,1,True
1164,CRI,1980,7.601491,-20.125750,1,True
1165,CRI,1981,6.963584,-26.958865,1,True
1166,CRI,1982,6.929412,-10.501879,1,True
1167,CRI,1983,7.089992,-21.326525,1,True
1168,CRI,1984,7.213506,-19.517908,1,True
1169,CRI,1985,7.254269,-23.824149,1,True
1170,CRI,1986,7.347101,-20.425265,1,True
1171,CRI,1987,7.345973,-26.275142,1,True
1172,CRI,1988,7.337888,-40.966831,1,True
1173,CRI,1989,7.441574,-31.358845,1,True
1174,CRI,1990,7.500251,-51.419551,1,True
1175,CRI,1991,7.705927,-53.964872,1,True
1176,CRI,1992,7.854779,-67.426841,1,True
1177,CRI,1993,7.942378,-72.472836,1,True
1178,CRI,1994,8.008213,-84.681839,1,True
1179,CRI,1995,8.083548,-93.469964,1,True
1180,CRI,1996,8.069065,-115.974156,1,True
1181,CRI,1997,8.123680,-108.568220,1,True
1182,CRI,1998,8.183379,-159.904603,1,True
1183,CRI,1999,8.203510,-158.146189,1,True
1184,CRI,2000,8.235635,-155.471851,1,True
1185,CRI,2001,8.279342,-137.186841,1,True
1186,CRI,2002,8.299392,-144.073867,1,True
1187,CRI,2003,8.324459,-149.397368,1,True
1188,CRI,2003,8.324459,-149.397368,1,True
1189,CRI,2004,8.383909,-207.628682,1,True
1190,CRI,2005,8.443215,-321.826706,1,True
1191,CRI,2006,8.554173,-364.075185,1,True
1192,CRI,2007,8.708654,-411.356211,1,True
1193,CRI,2008,8.830822,-501.780175,1,True
1194,CRI,2009,8.815498,-296.482057,1,True
1195,CRI,2010,9.005435,-347.188355,1,True
1196,CRI,2011,9.120137,-502.519669,1,True
1197,CRI,2012,9.207502,-384.542178,1,True
1198,CRI,2013,9.271743,-506.409715,1,True
1199,CRI,2014,9.281514,-587.593368,1,True
1200,CRI,2015,9.352704,-524.218479,1,True

CHECK
838
838

------

RUNNING OUTLIER CASE STUDY 4
Identified by: Iimi 2007
Outlying country: Botswana, 1990 - 2006
In terms of: ['gdp_growth']
With respect to: ['cpi', 'natural_resources']
Sample size: 17 outliers, 1966 total data points
988 / 1966 rows with NaNs (50.25432349949135%)

Experimental subset:

,Country Code,Year,gdp_growth,cpi,natural_resources,is_empirical_outlier
20,ALB,1990,-9.575640,NaN,8.224030,False
21,ALB,1991,-28.002142,NaN,9.885754,False
22,ALB,1992,-7.187111,NaN,11.728839,False
23,ALB,1993,9.559412,NaN,3.378502,False
24,ALB,1994,8.302867,NaN,1.838613,False
...,...,...,...,...,...,...
5764,USA,2002,1.695943,7.7,0.689227,False
5765,USA,2003,2.796209,7.5,1.045922,False
5766,USA,2004,3.852553,6.2,1.253692,False
5767,USA,2005,3.483220,7.6,1.496643,False
5768,USA,2006,2.782811,7.3,1.130664,False

Target subset:

,Country Code,Year,gdp_growth,cpi,natural_resources,is_empirical_outlier
674,BWA,1990,6.772822,NaN,2.049024,True
675,BWA,1991,7.458709,NaN,3.070979,True
676,BWA,1992,2.917070,NaN,1.971538,True
677,BWA,1993,1.916107,NaN,1.148282,True
678,BWA,1994,3.627916,NaN,1.629522,True
679,BWA,1995,7.030410,NaN,2.321355,True
680,BWA,1996,5.829800,NaN,1.249041,True
681,BWA,1997,8.325891,NaN,1.382628,True
682,BWA,1998,0.443664,6.1,0.852197,True
683,BWA,1999,9.667241,6.1,1.358617,True
684,BWA,2000,1.987696,6.0,2.377147,True
685,BWA,2001,0.250574,6.0,1.163854,True
686,BWA,2002,6.069531,6.4,0.914120,True
687,BWA,2003,4.625895,5.7,1.931449,True
688,BWA,2004,2.705822,6.0,3.223968,True
689,BWA,2005,4.556646,5.9,2.343433,True
690,BWA,2006,8.363871,5.6,6.442145,True

CHECK
1966
1966

------

RUNNING OUTLIER CASE STUDY 5
Identified by: Mor 2022, Karabel and Laurison 2011
Outlying country: United States of America, 2004 - 2004
In terms of: ['disability_adjusted_life_years']
With respect to: ['healthcare_spending_pc']
Sample size: 1 outliers, 116 total data points
2 / 116 rows with NaNs (1.7241379310344827%)

Experimental subset:

,Country Code,Year,disability_adjusted_life_years,healthcare_spending_pc,is_empirical_outlier
34,ALB,2004,76.376000,141.912811,False
84,DZA,2004,71.762000,93.024330,False
137,ARG,2004,74.855000,310.219940,False
187,ARM,2004,71.421000,70.641006,False
237,AUS,2004,80.490244,2760.830811,False
...,...,...,...,...,...
5556,UZB,2004,67.401000,27.804707,False
5606,VNM,2004,73.135000,29.006653,False
5656,ZMB,2004,49.487000,39.201366,False
5706,ZWE,2004,44.502000,NaN,False
5766,USA,2004,77.487805,6045.937988,True

Target subset:

,Country Code,Year,disability_adjusted_life_years,healthcare_spending_pc,is_empirical_outlier
5766,USA,2004,77.487805,6045.937988,True

CHECK
116
116

------

RUNNING OUTLIER CASE STUDY 6
Identified by: Mor 2022, Karabel and Laurison 2011
Outlying country: United States of America, 2004 - 2011
In terms of: ['union_strength', 'left_representation']
With respect to: ['log_gdp_pc']
Sample size: 8 outliers, 924 total data points
698 / 924 rows with NaNs (75.54112554112554%)

Experimental subset:

,Country Code,Year,union_strength,left_representation,log_gdp_pc,is_empirical_outlier
34,ALB,2004,-0.103,NaN,7.772155,False
35,ALB,2005,-0.103,0.169143,7.891251,False
36,ALB,2006,-0.103,NaN,7.997241,False
37,ALB,2007,-0.103,NaN,8.187310,False
38,ALB,2008,-0.103,NaN,8.382642,False
...,...,...,...,...,...,...
5769,USA,2007,0.326,NaN,10.780002,True
5770,USA,2008,0.326,0.516500,10.790762,True
5771,USA,2009,0.326,NaN,10.762042,True
5772,USA,2010,0.237,0.516500,10.792420,True
5773,USA,2011,0.237,NaN,10.821097,True

Target subset:

,Country Code,Year,union_strength,left_representation,log_gdp_pc,is_empirical_outlier
5766,USA,2004,0.326,0.5165,10.638847,True
5767,USA,2005,0.326,NaN,10.694746,True
5768,USA,2006,0.326,0.5165,10.742940,True
5769,USA,2007,0.326,NaN,10.780002,True
5770,USA,2008,0.326,0.5165,10.790762,True
5771,USA,2009,0.326,NaN,10.762042,True
5772,USA,2010,0.237,0.5165,10.792420,True
5773,USA,2011,0.237,NaN,10.821097,True

CHECK
924
924

------

RUNNING OUTLIER CASE STUDY 7
Identified by: Ghai 2018
Outlying country: India, 2000 - 2015
In terms of: ['female_workforce_participation']
With respect to: ['female_literacy', 'is_mena']
Sample size: 16 outliers, 1850 total data points
1450 / 1850 rows with NaNs (78.37837837837837%)

Experimental subset:

,Country Code,Year,female_workforce_participation,female_literacy,is_mena,is_empirical_outlier
30,ALB,2000,49.932,NaN,0,False
31,ALB,2001,49.279,98.252274,0,False
32,ALB,2002,48.945,NaN,0,False
33,ALB,2003,48.332,NaN,0,False
34,ALB,2004,47.726,NaN,0,False
...,...,...,...,...,...,...
5773,USA,2011,57.053,NaN,0,False
5774,USA,2012,56.799,NaN,0,False
5775,USA,2013,56.364,NaN,0,False
5776,USA,2014,56.215,NaN,0,False
5777,USA,2015,56.002,NaN,0,False

Target subset:

,Country Code,Year,female_workforce_participation,female_literacy,is_mena,is_empirical_outlier
2238,IND,2000,30.516,NaN,0,True
2239,IND,2001,30.423,47.842098,0,True
2240,IND,2002,30.339,NaN,0,True
2241,IND,2003,30.262,NaN,0,True
2242,IND,2004,30.195,NaN,0,True
2243,IND,2005,30.136,NaN,0,True
2244,IND,2006,29.862,50.823761,0,True
2245,IND,2007,29.588,NaN,0,True
2246,IND,2008,29.316,NaN,0,True
2247,IND,2009,29.045,NaN,0,True
2248,IND,2010,28.775,NaN,0,True
2249,IND,2011,27.919,59.277321,0,True
2250,IND,2012,27.075,NaN,0,True
2251,IND,2013,25.910,NaN,0,True
2252,IND,2014,24.774,NaN,0,True
2253,IND,2015,23.667,NaN,0,True

CHECK
1850
1850

------

RUNNING OUTLIER CASE STUDY 8
Identified by: Zaverucha 2009
Outlying country: Brazil, 1995 - 2006
In terms of: ['military_spending_of_gdp']
With respect to: ['democracy']
Sample size: 12 outliers, 1390 total data points
144 / 1390 rows with NaNs (10.359712230215827%)

Experimental subset:

,Country Code,Year,military_spending_of_gdp,democracy,is_empirical_outlier
25,ALB,1995,2.053587,0.345,False
26,ALB,1996,1.379030,0.319,False
27,ALB,1997,1.283081,0.311,False
28,ALB,1998,1.238243,0.323,False
29,ALB,1999,1.249210,0.327,False
...,...,...,...,...,...
5764,USA,2002,3.447618,0.767,False
5765,USA,2003,3.827161,0.800,False
5766,USA,2004,4.016313,0.800,False
5767,USA,2005,4.089232,0.796,False
5768,USA,2006,4.041342,0.803,False

Target subset:

,Country Code,Year,military_spending_of_gdp,democracy,is_empirical_outlier
729,BRA,1995,1.862137,0.726,True
730,BRA,1996,1.654843,0.728,True
731,BRA,1997,1.577688,0.728,True
732,BRA,1998,1.662292,0.730,True
733,BRA,1999,1.645475,0.735,True
734,BRA,2000,1.730726,0.735,True
735,BRA,2001,1.951882,0.735,True
736,BRA,2002,1.895771,0.737,True
737,BRA,2003,1.503478,0.741,True
738,BRA,2004,1.461268,0.741,True
739,BRA,2005,1.524013,0.784,True
740,BRA,2006,1.481085,0.783,True

CHECK
1390
1390

------

RUNNING OUTLIER CASE STUDY 9
Identified by: Brennan et al. 2022
Outlying country: Mexico, 1948 - 2008
In terms of: ['human_rights']
With respect to: ['democracy']
Sample size: 39 outliers, 4517 total data points
314 / 4517 rows with NaNs (6.9515164932477305%)

Experimental subset:

     Country Code  Year  human_rights  democracy  is_empirical_outlier
0             ALB  1970         0.017      0.057                 False
1             ALB  1971         0.017      0.057                 False
2             ALB  1972         0.017      0.057                 False
3             ALB  1973         0.017      0.057                 False
4             ALB  1974         0.017      0.057                 False
...           ...   ...           ...        ...                   ...
5766          USA  2004         0.908      0.800                 False
5767          USA  2005         0.926      0.796                 False
5768          USA  2006         0.918      0.803                 False
5769          USA  2007         0.927      0.842                 False
5770          USA  2008         0.946      0.847                 False

[4517 rows x 5 columns]

Target subset:

     Country Code  Year  human_rights  democracy  is_empirical_outlier
3416          MEX  1970         0.498      0.112                  True
3417          MEX  1971         0.498      0.112                  True
3418          MEX  1972         0.508      0.112                  True
3419          MEX  1973         0.509      0.112                  True
3420          MEX  1974         0.509      0.113                  True
3421          MEX  1975         0.507      0.113                  True
3422          MEX  1976         0.513      0.115                  True
3423          MEX  1977         0.568      0.125                  True
3424          MEX  1978         0.581      0.131                  True
3425          MEX  1979         0.581      0.131                  True
3426          MEX  1980         0.589      0.133                  True
3427          MEX  1981         0.590      0.134                  True
3428          MEX  1982         0.589      0.138                  True
3429          MEX  1983         0.589      0.146                  True
3430          MEX  1984         0.589      0.146                  True
3431          MEX  1985         0.589      0.146                  True
3432          MEX  1986         0.589      0.146                  True
3433          MEX  1987         0.590      0.149                  True
3434          MEX  1988         0.591      0.163                  True
3435          MEX  1989         0.608      0.182                  True
3436          MEX  1990         0.609      0.195                  True
3437          MEX  1991         0.623      0.204                  True
3438          MEX  1992         0.633      0.219                  True
3439          MEX  1993         0.645      0.224                  True
3440          MEX  1994         0.656      0.266                  True
3441          MEX  1995         0.673      0.282                  True
3442          MEX  1996         0.673      0.293                  True
3443          MEX  1997         0.674      0.347                  True
3444          MEX  1998         0.688      0.377                  True
3445          MEX  1999         0.692      0.378                  True
3446          MEX  2000         0.719      0.480                  True
3447          MEX  2001         0.719      0.487                  True
3448          MEX  2002         0.719      0.493                  True
3449          MEX  2003         0.719      0.503                  True
3450          MEX  2004         0.719      0.510                  True
3451          MEX  2005         0.719      0.510                  True
3452          MEX  2006         0.706      0.482                  True
3453          MEX  2007         0.704      0.454                  True
3454          MEX  2008         0.700      0.456                  True

CHECK
4517
4517

------

RUNNING OUTLIER CASE STUDY 10
Identified by: Bogaards 2018, Ágh 2016, Buzogány 2017
Outlying country: Hungary, 2010 - 2023
In terms of: ['democracy']
With respect to: ['is_eu']
Sample size: 10 outliers, 240 total data points
0 / 240 rows with NaNs (0.0%)

Experimental subset:

     Country Code  Year  democracy  is_eu  is_empirical_outlier
293           AUT  2010      0.795      1                 False
294           AUT  2011      0.792      1                 False
295           AUT  2012      0.797      1                 False
296           AUT  2013      0.797      1                 False
297           AUT  2014      0.796      1                 False
...           ...   ...        ...    ...                   ...
5016          SWE  2015      0.890      1                 False
5017          SWE  2016      0.889      1                 False
5018          SWE  2017      0.888      1                 False
5019          SWE  2018      0.885      1                 False
5020          SWE  2019      0.875      1                 False

[240 rows x 5 columns]

Target subset:

     Country Code  Year  democracy  is_eu  is_empirical_outlier
2148          HUN  2010      0.676      1                  True
2149          HUN  2011      0.647      1                  True
2150          HUN  2012      0.625      1                  True
2151          HUN  2013      0.575      1                  True
2152          HUN  2014      0.521      1                  True
2153          HUN  2015      0.482      1                  True
2154          HUN  2016      0.473      1                  True
2155          HUN  2017      0.443      1                  True
2156          HUN  2018      0.381      1                  True
2157          HUN  2019      0.368      1                  True

CHECK
240
240

------

RUNNING OUTLIER CASE STUDY 12
Identified by: Yeo et al. 2022, Siddiqui 2010
Outlying country: Singapore, 1965 - 2005
In terms of: ['gdp_growth']
With respect to: ['democracy']
Sample size: 36 outliers, 4164 total data points
799 / 4164 rows with NaNs (19.188280499519692%)

Experimental subset:

     Country Code  Year  gdp_growth  democracy  is_empirical_outlier
0             ALB  1970         NaN      0.057                 False
1             ALB  1971         NaN      0.057                 False
2             ALB  1972         NaN      0.057                 False
3             ALB  1973         NaN      0.057                 False
4             ALB  1974         NaN      0.057                 False
...           ...   ...         ...        ...                   ...
5763          USA  2001    0.954339      0.764                 False
5764          USA  2002    1.695943      0.767                 False
5765          USA  2003    2.796209      0.800                 False
5766          USA  2004    3.852553      0.800                 False
5767          USA  2005    3.483220      0.796                 False

[4164 rows x 5 columns]

Target subset:

     Country Code  Year  gdp_growth  democracy  is_empirical_outlier
4619          SGP  1970   13.942003      0.271                  True
4620          SGP  1971   12.413437      0.271                  True
4621          SGP  1972   13.315563      0.274                  True
4622          SGP  1973   10.603003      0.279                  True
4623          SGP  1974    6.117404      0.279                  True
4624          SGP  1975    3.988739      0.280                  True
4625          SGP  1976    7.437167      0.279                  True
4626          SGP  1977    6.852442      0.278                  True
4627          SGP  1978    7.777182      0.278                  True
4628          SGP  1979    9.554449      0.278                  True
4629          SGP  1980   10.113372      0.284                  True
4630          SGP  1981   10.815923      0.288                  True
4631          SGP  1982    7.102145      0.288                  True
4632          SGP  1983    8.554482      0.288                  True
4633          SGP  1984    8.792286      0.288                  True
4634          SGP  1985   -0.622702      0.289                  True
4635          SGP  1986    1.342810      0.292                  True
4636          SGP  1987   10.797932      0.293                  True
4637          SGP  1988   11.263592      0.294                  True
4638          SGP  1989   10.158829      0.294                  True
4639          SGP  1990    9.820900      0.304                  True
4640          SGP  1991    6.688398      0.306                  True
4641          SGP  1992    6.639806      0.301                  True
4642          SGP  1993   11.459651      0.302                  True
4643          SGP  1994   11.095689      0.303                  True
4644          SGP  1995    7.175401      0.303                  True
4645          SGP  1996    7.471391      0.304                  True
4646          SGP  1997    8.316209      0.309                  True
4647          SGP  1998   -2.191015      0.309                  True
4648          SGP  1999    5.718372      0.307                  True
4649          SGP  2000    9.038316      0.314                  True
4650          SGP  2001   -1.070863      0.313                  True
4651          SGP  2002    3.923361      0.312                  True
4652          SGP  2003    4.548255      0.312                  True
4653          SGP  2004    9.939983      0.312                  True
4654          SGP  2005    7.366322      0.309                  True

CHECK
4164
4164

------

RUNNING OUTLIER CASE STUDY 13
Identified by: Malipula 2014, Rwengabo 2016
Outlying country: Tanzania, 1992 - 2020
In terms of: ['peace']
With respect to: ['ethnic_fractionalization']
Sample size: 28 outliers, 3232 total data points
2331 / 3232 rows with NaNs (72.12252475247524%)

Experimental subset:

     Country Code  Year  peace  ethnic_fractionalization  is_empirical_outlier
22            ALB  1992    NaN                     0.104                 False
23            ALB  1993    NaN                     0.105                 False
24            ALB  1994    NaN                     0.107                 False
25            ALB  1995    8.0                     0.108                 False
26            ALB  1996    8.0                     0.110                 False
...           ...   ...    ...                       ...                   ...
5778          USA  2016    3.0                       NaN                 False
5779          USA  2017    4.0                       NaN                 False
5780          USA  2018    4.0                       NaN                 False
5781          USA  2019    NaN                       NaN                 False
5782          USA  2020    NaN                       NaN                 False

[3232 rows x 5 columns]

Target subset:

     Country Code  Year  peace  ethnic_fractionalization  is_empirical_outlier
5093          TZA  1992    NaN                     0.637                  True
5094          TZA  1993    NaN                     0.635                  True
5095          TZA  1994    NaN                     0.632                  True
5096          TZA  1995   15.0                     0.630                  True
5097          TZA  1996   16.0                     0.627                  True
5098          TZA  1997   16.0                     0.625                  True
5099          TZA  1998   15.0                     0.622                  True
5100          TZA  1999   15.0                     0.620                  True
5101          TZA  2000   15.0                     0.618                  True
5102          TZA  2001   15.0                     0.616                  True
5103          TZA  2002   15.0                     0.613                  True
5104          TZA  2003   14.0                     0.611                  True
5105          TZA  2004   14.0                     0.609                  True
5106          TZA  2005   12.0                     0.607                  True
5107          TZA  2006   11.0                     0.605                  True
5108          TZA  2007   11.0                     0.603                  True
5109          TZA  2008   11.0                     0.600                  True
5110          TZA  2009   12.0                     0.598                  True
5111          TZA  2010   12.0                     0.596                  True
5112          TZA  2011   11.0                     0.595                  True
5113          TZA  2012   11.0                     0.593                  True
5114          TZA  2013   10.0                     0.591                  True
5115          TZA  2014    9.0                       NaN                  True
5116          TZA  2015   11.0                       NaN                  True
5117          TZA  2016   10.0                       NaN                  True
5118          TZA  2017   10.0                       NaN                  True
5119          TZA  2018   10.0                       NaN                  True
5120          TZA  2019    NaN                       NaN                  True

CHECK
3232
3232

------

RUNNING OUTLIER CASE STUDY 14
Identified by: Mor 2022
Outlying country: Colombia, 2000 - 2016
In terms of: ['disability_adjusted_life_years']
With respect to: ['healthcare_spending_pc']
Sample size: 17 outliers, 1965 total data points
29 / 1965 rows with NaNs (1.4758269720101782%)

Experimental subset:

,Country Code,Year,disability_adjusted_life_years,healthcare_spending_pc,is_empirical_outlier
30,ALB,2000,75.404000,65.149994,False
31,ALB,2001,75.639000,73.788681,False
32,ALB,2002,75.890000,78.994156,False
33,ALB,2003,76.142000,111.461883,False
34,ALB,2004,76.376000,141.912811,False
...,...,...,...,...,...
5774,USA,2012,78.741463,8272.958008,False
5775,USA,2013,78.741463,8431.182617,False
5776,USA,2014,78.841463,8824.776367,False
5777,USA,2015,78.690244,9243.621094,False
5778,USA,2016,78.539024,9594.743164,False

Target subset:

,Country Code,Year,disability_adjusted_life_years,healthcare_spending_pc,is_empirical_outlier
1134,COL,2000,71.320,134.285370,True
1135,COL,2001,71.502,138.044235,True
1136,COL,2002,71.939,131.783844,True
1137,COL,2003,72.361,129.334869,True
1138,COL,2004,72.695,159.193710,True
1139,COL,2005,73.081,209.253021,True
1140,COL,2006,73.468,239.389114,True
1141,COL,2007,73.837,309.036652,True
1142,COL,2008,74.295,378.184113,True
1143,COL,2009,74.742,383.432831,True
1144,COL,2010,75.033,452.153015,True
1145,COL,2011,75.320,501.265076,True
1146,COL,2012,75.597,546.549133,True
1147,COL,2013,75.827,579.913696,True
1148,COL,2014,76.043,586.678223,True
1149,COL,2015,76.257,468.588531,True
1150,COL,2016,76.471,447.235809,True

CHECK
1965
1965

------

RUNNING OUTLIER CASE STUDY 15
Identified by: Choi 2022, Rogerson 2006
Outlying country: Norway, 1970 - 2013
In terms of: ['liberal_immigration_policy']
With respect to: ['natural_resources']
Sample size: 44 outliers, 5082 total data points
699 / 5082 rows with NaNs (13.754427390791028%)

Experimental subset:

,Country Code,Year,liberal_immigration_policy,natural_resources,is_empirical_outlier
0,ALB,1970,0.005199,NaN,False
1,ALB,1971,0.004574,NaN,False
2,ALB,1972,0.003921,NaN,False
3,ALB,1973,0.003198,NaN,False
4,ALB,1974,0.002482,NaN,False
...,...,...,...,...,...
5771,USA,2009,0.003361,0.743921,False
5772,USA,2010,0.003332,0.968704,False
5773,USA,2011,0.004244,1.235029,False
5774,USA,2012,0.004216,0.776695,False
5775,USA,2013,0.004179,0.750834,False

Target subset:

,Country Code,Year,liberal_immigration_policy,natural_resources,is_empirical_outlier
4018,NOR,1970,0.000000,0.465517,True
4019,NOR,1971,0.000796,0.404786,True
4020,NOR,1972,0.001440,0.387712,True
4021,NOR,1973,0.000857,0.562344,True
4022,NOR,1974,0.001075,0.828774,True
4023,NOR,1975,0.000826,1.621728,True
4024,NOR,1976,0.001186,2.195535,True
4025,NOR,1977,0.001151,2.004234,True
4026,NOR,1978,0.000956,2.656818,True
4027,NOR,1979,0.000692,5.792107,True
4028,NOR,1980,0.000917,7.653986,True
4029,NOR,1981,0.001434,5.900650,True
4030,NOR,1982,0.001399,3.746865,True
4031,NOR,1983,0.000979,6.059406,True
4032,NOR,1984,0.000918,6.934028,True
4033,NOR,1985,0.001579,7.101494,True
4034,NOR,1986,0.001794,3.074816,True
4035,NOR,1987,0.003280,3.864825,True
4036,NOR,1988,0.002433,3.181604,True
4037,NOR,1989,0.000000,6.278848,True
4038,NOR,1990,0.000447,7.953011,True
4039,NOR,1991,0.001895,4.487127,True
4040,NOR,1992,0.002383,5.006140,True
4041,NOR,1993,0.002920,5.693596,True
4042,NOR,1994,0.001765,5.412903,True
4043,NOR,1995,0.001496,5.614748,True
4044,NOR,1996,0.001314,8.043483,True
4045,NOR,1997,0.002219,6.683845,True
4046,NOR,1998,0.003008,2.004729,True
4047,NOR,1999,0.004291,5.378861,True
4048,NOR,2000,0.002180,12.292660,True
4049,NOR,2001,0.001748,9.868541,True
4050,NOR,2002,0.003805,8.807034,True
4051,NOR,2003,0.002508,8.678523,True
4052,NOR,2004,0.002924,9.498681,True
4053,NOR,2005,0.003994,10.492423,True
4054,NOR,2006,0.005153,10.894531,True
4055,NOR,2007,0.008453,9.561633,True
4056,NOR,2008,0.009203,12.617672,True
4057,NOR,2009,0.008125,8.365332,True
4058,NOR,2010,0.008776,7.661615,True
4059,NOR,2011,0.009546,10.032392,True
4060,NOR,2012,0.009522,9.341710,True
4061,NOR,2013,0.007969,8.168547,True

CHECK
5082
5082
Done. Faulty methods:
[]
Faulty case studies:
['VNM 1949 - 2015', 'PRT 1984 - 2002']

In [11]:
experiment_level_test_results.to_csv('./output/test_results_by_experiment.csv' if not test_ensemble_only else './output/ensemble_results_by_experiment.csv')

In [12]:
for faulty_method_id in faulty_method_ids:
  method_result_dictionary.pop(faulty_method_id, None)

for method in method_result_dictionary:
  columns = method_result_dictionary[method]
  relevant_accuracy_columns = list(filter(lambda column_name: 'Recall' in column_name, columns))
  relevant_f1_columns = list(filter(lambda column_name: 'F1' in column_name, columns))

  relevant_accuracy_values = list(map(lambda col_name: columns[col_name], relevant_accuracy_columns))
  relevant_f1_values = list(map(lambda col_name: columns[col_name], relevant_f1_columns))

  method_result_dictionary[method][f'Mean Recall'] = np.average(relevant_accuracy_values)
  method_result_dictionary[method][f'Mean F1'] = np.average(relevant_f1_values)

pd.DataFrame.from_dict(method_result_dictionary, orient = 'index').to_csv('./output/test_results_by_algorithm.csv' if not test_ensemble_only else './output/ensemble_results_by_algorithm.csv')

In [13]:
for faulty_case_study_id in faulty_case_study_ids:
  case_study_result_dictionary.pop(faulty_case_study_id, None)

for case_study in case_study_result_dictionary:
  # Drop faulty methods from aggregation
  for column in case_study_result_dictionary[case_study]:
    if column.split(':')[0] in faulty_method_ids:
      case_study_result_dictionary[case_study].pop(column, None)

  columns = case_study_result_dictionary[case_study]

  relevant_accuracy_columns = list(filter(lambda column_name: 'Recall' in column_name, columns))
  relevant_f1_columns = list(filter(lambda column_name: 'F1' in column_name, columns))
  relevant_accuracy_values = list(map(lambda col_name: columns[col_name], relevant_accuracy_columns))
  relevant_f1_values = list(map(lambda col_name: columns[col_name], relevant_f1_columns))

  case_study_result_dictionary[case_study][f'Mean Recall'] = np.average(relevant_accuracy_values)
  case_study_result_dictionary[case_study][f'Median Recall'] = np.median(relevant_accuracy_values)
  case_study_result_dictionary[case_study][f'Best Recall'] = np.max(relevant_accuracy_values)
  case_study_result_dictionary[case_study][f'Mean F1'] = np.average(relevant_f1_values)
  case_study_result_dictionary[case_study][f'Median F1'] = np.median(relevant_f1_values)
  case_study_result_dictionary[case_study][f'Best Recall'] = np.max(relevant_accuracy_values)
  case_study_result_dictionary[case_study][f'Best F1'] = np.max(relevant_f1_values)

pd.DataFrame.from_dict(case_study_result_dictionary, orient = 'index').to_csv('./output/test_results_by_case_study.csv' if not test_ensemble_only else './output/ensemble_results_by_case_study.csv')

In [14]:
successfully_tested_outliers = []
for _, outlier in outliers_data.iterrows():
  if outlier['id'] not in faulty_case_study_ids:
    successfully_tested_outliers.append(outlier)

pd.DataFrame(successfully_tested_outliers).to_csv('./output/successfully_tested_outliers.csv' if not test_ensemble_only else './output/ensemble_successfully_tested_outliers.csv')

In [15]:
failed_method_abbrs = list(map(lambda method_id: method_id.split('_')[0], faulty_method_ids))
successfully_tested_methods = []
temp_method_abbrs = []

for _, method in methods_table.iterrows():
  if (method['Abbr'] not in failed_method_abbrs) and (method['Abbr'] not in temp_method_abbrs):
    successfully_tested_methods.append(method)
    temp_method_abbrs.append(method['Abbr'])

pd.DataFrame(successfully_tested_methods).to_csv('./output/successfully_tested_methods.csv' if not test_ensemble_only else './output/ensemble_successfully_tested_methods.csv')

#### Find extra outliers mentioned by all top 5 models

In [16]:
if not test_ensemble_only:
  results = pd.read_csv('./output/test_results_by_experiment.csv').drop(columns = 'Unnamed: 0')
  top_methods = pd.read_csv('./output/test_results_by_algorithm.csv').rename(columns = {'Unnamed: 0': 'method'}).sort_values(by = 'Mean accuracy', ascending = False)[0:5][['method', 'Mean accuracy']]
  top_method_names = top_methods['method'].to_list()

  # Key = outlier ID, values = experiments ran on it by top 5 methods
  results_of_top_methods = {}
  for _, result in results.iterrows():
    if result['Algorithm'] in top_method_names:
      if result['ID'] not in results_of_top_methods:
        results_of_top_methods[result['ID']] = []
      result['Identified outliers'] = list(map(lambda outlier: outlier.strip(), result['Identified outliers'].split(';')))
      results_of_top_methods[result['ID']].append(result)

  extra_outliers_table = []

  for case in results_of_top_methods:
    experiments = results_of_top_methods[case]
    countries_identified_by_all_algorithms = []
    for outlier in experiments[0]['Identified outliers']:
      if outlier in experiments[1]['Identified outliers'] and outlier in experiments[2]['Identified outliers'] and outlier in experiments[3]['Identified outliers'] and outlier in experiments[4]['Identified outliers']:
        countries_identified_by_all_algorithms.append(outlier)
    extra_outliers_table.append({ 'Case study': case, 'Outliers consistently identified': countries_identified_by_all_algorithms })

  extra_outliers_table = pd.DataFrame(extra_outliers_table)
  extra_outliers_table.to_csv('./output/consistently_identified_extra_outliers.csv')